exports.<%=containerName%> = {
  dev: {
    type: 'docker',
    execute: {
      process: '<%=execute%>'
    }
  },
  shared$: {
    yamlPath: '<%=yamlPath%>',
    source: <%=source%>,
    path: '<%=path%>',
    type: 'docker',
    proxyPort: [<%=proxyPort%>],
    servicePort: [<%=servicePort%>],
    buildScript: '<%=build%>',
    execute: {
      image: '<%=image%>',
      exec: '<%=execute%>',
      environment: <%=environment%>
    }
  }
};

